################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/HMaps
/HMaps.Models/obj
/HMaps.Wpf/obj
